
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Khushhal Reddy</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-style.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skills.css') }}" />

</head>
<body>
  <div class="tm-page-container mx-auto">
    <header class="tm-header text-center">
      <h1 class="tm-title text-uppercase">Koyya Khushhal Reddy</h1><br>
      <p class="tm-primary-color"><i>"Have no fear of perfection-you’ll never reach it"<br> — <strike>MK Gandhi</strike> Salvador Dali</i></p>
    </header>

    <section class="tm-section">
      <nav class="tm-nav">
        <ul>
          <li class="active">
            <a href="/"><span class="tm-nav-deco"></span>Intro</a>
          </li>
          <li>
            <a href="/gallery"><span class="tm-nav-deco"></span>Gallery</a>
          </li>
          <li>
            <a href="/contact"><span class="tm-nav-deco"></span>Contact</a>
          </li>
        </ul>
      </nav>
{% block body %}{% endblock %}
</html>

