{% extends "base.html" %}

{% block body %}

      <div class="tm-content-container">
        <div class="tm-content tm-content-2">
          <p>
            Glimpse of My projects........
          </p>

          <div class="container-fluid">
            <div class="row tm-gallery" id="tmGallery">
              <div class="col-sm-6 tm-gallery-item">
                <figure class="effect-bubba">
                  <img src="{{ url_for('static' , filename='img/gallery-img-01.jpg') }}"  alt="Gallery item" class="img-fluid" />
                  <figcaption>
                    <h2>Weed <span>Classifier</span></h2>
                    <p>Deep Learning model for classifying different weeds</p>
                    <a href="https://github.com/KKhushhalR2405/PlantsvsWeeds" target = "_blank">View more</a>
                  </figcaption>
                </figure>
              </div>
              <div class="col-sm-6 tm-gallery-item">
                <figure class="effect-bubba">
                  <img src="{{ url_for('static' , filename='img/gallery-img-01.jpg') }}" alt="Gallery item" class="img-fluid" />
                  <figcaption>
                    <h2>Fresh <span>Bubba</span></h2>
                    <p>Bubba likes to appear out of thin air.</p>
                    <a href="{{ url_for('static' , filename='img/gallery-img-01.jpg') }}">View more</a>
                  </figcaption>
                </figure>
              </div>
              <div class="col-sm-6 tm-gallery-item">
                <figure class="effect-bubba">
                  <img src="{{ url_for('static' , filename='img/gallery-img-01.jpg') }}" alt="Gallery item" class="img-fluid" />
                  <figcaption>
                    <h2>Fresh <span>Bubba</span></h2>
                    <p>Bubba likes to appear out of thin air.</p>
                    <a href="{{ url_for('static' , filename='img/gallery-img-01.jpg') }}">View more</a>
                  </figcaption>
                </figure>
              </div>
              <div class="col-sm-6 tm-gallery-item">
                <figure class="effect-bubba">
                  <img src="{{ url_for('static' , filename='img/gallery-img-01.jpg') }}" alt="Gallery item" class="img-fluid" />
                  <figcaption>
                    <h2>Fresh <span>Bubba</span></h2>
                    <p>Bubba likes to appear out of thin air.</p>
                    <a href="{{ url_for('static' , filename='img/gallery-img-01.jpg') }}">View more</a>
                  </figcaption>
                </figure>
              </div>
              <div class="col-sm-6 tm-gallery-item">
                <figure class="effect-bubba">
                  <img src="{{ url_for('static' , filename='img/gallery-img-01.jpg') }}" alt="Gallery item" class="img-fluid" />
                  <figcaption>
                    <h2>Aural<span>Housie</span></h2>
                    <p>Audio based Tambola Game!</p>
                    <a href="https://github.com/KKhushhalR2405/Aural-Housie">View more</a>
                  </figcaption>
                </figure>
              </div>
              <div class="col-sm-6 tm-gallery-item">
                <figure class="effect-bubba">
                  <img src="{{ url_for('static' , filename='img/gallery-img-01.jpg') }}" alt="Gallery item" class="img-fluid" />
                  <figcaption>
                    <h2>Fresh <span>Bubba</span></h2>
                    <p>Bubba likes to appear out of thin air.</p>
                    <a href="{{ url_for('static' , filename='img/gallery-img-01.jpg') }}">View more</a>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script>
    $(document).ready(function () {
      // Magnific Pop up
      // https://dimsemenov.com/plugins/magnific-popup/
      $('.tm-gallery').magnificPopup({
        delegate: 'a', // child items selector, by clicking on it popup will open
        type: 'image',
        gallery: {
          enabled: true
        },
      });
    });
  </script>

</body>
{% endblock %}