{% extends "base.html" %}

{% block body %}
<body>
  <div class="tm-page-container mx-auto">
    <header class="tm-header text-center">
      <h1 class="tm-title text-uppercase">Verticard</h1>
      <p class="tm-primary-color"><i>new bootstrap theme</i></p>
    </header>

    <div class="tm-section">
      <nav class="tm-nav">
        <ul>
          <li>
            <a href="/"><span class="tm-nav-deco"></span>Intro</a>
          </li>
          <li class="active">
            <a href="/gallery"><span class="tm-nav-deco"></span>Gallery</a>
          </li>
          <li>
            <a href="/contact"><span class="tm-nav-deco"></span>Contact</a>
          </li>
        </ul>
      </nav>
      <div class="tm-content-container">
        <div class="tm-content tm-content-2">
          <p>
            This gallery contains a beautiful hover effect and pop-up larger
            images. Please mention TemplateMo site to your friends.
          </p>

          <div class="container-fluid">
            <div class="row tm-gallery" id="tmGallery">
              <div class="col-sm-6 tm-gallery-item">
                <figure class="effect-bubba">
                  <img src="{{ url_for('static' , filename='img/gallery-img-01.jpg') }}"  alt="Gallery item" class="img-fluid" />
                  <figcaption>
                    <h2>Fresh <span>Bubba</span></h2>
                    <p>Bubba likes to appear out of thin air.</p>
                    <a href="{{ url_for('static' , filename='img/gallery-img-01.jpg') }}">View more</a>
                  </figcaption>
                </figure>
              </div>
              <div class="col-sm-6 tm-gallery-item">
                <figure class="effect-bubba">
                  <img src="{{ url_for('static' , filename='img/gallery-img-01.jpg') }}" alt="Gallery item" class="img-fluid" />
                  <figcaption>
                    <h2>Fresh <span>Bubba</span></h2>
                    <p>Bubba likes to appear out of thin air.</p>
                    <a href="{{ url_for('static' , filename='img/gallery-img-01.jpg') }}">View more</a>
                  </figcaption>
                </figure>
              </div>
              <div class="col-sm-6 tm-gallery-item">
                <figure class="effect-bubba">
                  <img src="{{ url_for('static' , filename='img/gallery-img-01.jpg') }}" alt="Gallery item" class="img-fluid" />
                  <figcaption>
                    <h2>Fresh <span>Bubba</span></h2>
                    <p>Bubba likes to appear out of thin air.</p>
                    <a href="{{ url_for('static' , filename='img/gallery-img-01.jpg') }}">View more</a>
                  </figcaption>
                </figure>
              </div>
              <div class="col-sm-6 tm-gallery-item">
                <figure class="effect-bubba">
                  <img src="{{ url_for('static' , filename='img/gallery-img-01.jpg') }}" alt="Gallery item" class="img-fluid" />
                  <figcaption>
                    <h2>Fresh <span>Bubba</span></h2>
                    <p>Bubba likes to appear out of thin air.</p>
                    <a href="{{ url_for('static' , filename='img/gallery-img-01.jpg') }}">View more</a>
                  </figcaption>
                </figure>
              </div>
              <div class="col-sm-6 tm-gallery-item">
                <figure class="effect-bubba">
                  <img src="{{ url_for('static' , filename='img/gallery-img-01.jpg') }}" alt="Gallery item" class="img-fluid" />
                  <figcaption>
                    <h2>Fresh <span>Bubba</span></h2>
                    <p>Bubba likes to appear out of thin air.</p>
                    <a href="{{ url_for('static' , filename='img/gallery-img-01.jpg') }}">View more</a>
                  </figcaption>
                </figure>
              </div>
              <div class="col-sm-6 tm-gallery-item">
                <figure class="effect-bubba">
                  <img src="{{ url_for('static' , filename='img/gallery-img-01.jpg') }}" alt="Gallery item" class="img-fluid" />
                  <figcaption>
                    <h2>Fresh <span>Bubba</span></h2>
                    <p>Bubba likes to appear out of thin air.</p>
                    <a href="{{ url_for('static' , filename='img/gallery-img-01.jpg') }}">View more</a>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script>
    $(document).ready(function () {
      // Magnific Pop up
      // https://dimsemenov.com/plugins/magnific-popup/
      $('.tm-gallery').magnificPopup({
        delegate: 'a', // child items selector, by clicking on it popup will open
        type: 'image',
        gallery: {
          enabled: true
        },
      });
    });
  </script>

</body>
{% endblock %}