{% extends "base.html" %}



{% block body %}

      <div class="tm-content-container">
        <figure class="mb-0">
          <img style = "width : 600px; height: 450px;" src="{{ url_for('static', filename='img/gal/front.jpg') }}" alt="Image" class="img-fluid tm-img" />
        </figure>
        <div class="tm-content">
          <h2 class="tm-page-title">Glimpse of myself</h2>
          <p class="mb-4">
            I'm a pre-final year student pursuing Bachelors in Information Technology 🎓 from Vellore Institute of Technology 🏛. I'm a passionate learner who is always willing to learn and work across different technologies and domains 💡. I love to explore new technologies and leverage them to solve real-life problems ✨. Apart from that I also love to Code👨🏻‍💻. I'm currently into Deep-Learning 🕸️ and working on my Public Speaking Skills🤓


          </p>

          
            <h2 class="tm-page-title">
              Look What All I Can Do...
            </h2>
          <p>
              <div class = "container">
                <div class = "skills">
                    <span class="Name">Python</span>
                    <div class="percent">
                        <div class="progress" style="width:95%"></div> 
                    </div>
                    <span class="Value">95%</span>
                </div>

                <div class = "skills">
                    <span class="Name">PyTorch</span>
                    <div class="percent">
                        <div class="progress" style="width:70%"></div> 
                    </div>
                    <span class="Value">70%</span>
                </div>

                <div class = "skills">
                    <span class="Name">Flask</span>
                    <div class="percent">
                        <div class="progress" style="width:70%"></div> 
                    </div>
                    <span class="Value">70%</span>
                </div>

                <div class = "skills">
                    <span class="Name">HTML/CSS</span>
                    <div class="percent">
                        <div class="progress" style="width:50%"></div> 
                    </div>
                    <span class="Value">50%</span>
                </div>

                <div class = "skills">
                    <span class="Name">Python</span>
                    <div class="percent">
                        <div class="progress" style="width:95%"></div> 
                    </div>
                    <span class="Value">95%</span>
                </div>


              </div>
          </p>
        </div>
      </div>
    </section>


  </div>
</body>
{% endblock %}


