{% extends "base.html" %}



{% block body %}

      <div class="tm-content-container">
        <figure class="mb-0">
          <img style = "width : 600px; height: 450px;" src="{{ url_for('static', filename='img/gal/front.jpg') }}" alt="Image" class="img-fluid tm-img" />
        </figure>
        <div class="tm-content">
          <h2 class="tm-page-title">Glimpse of myself</h2>
          <p class="mb-4">
            I'm a pre-final year student pursuing Bachelors in Information Technology 🎓 from Vellore Institute of Technology 🏛. I'm a passionate learner who is always willing to learn and work across different technologies and domains 💡. I love to explore new technologies and leverage them to solve real-life problems ✨. Apart from that I also love to Code👨🏻‍💻. I'm currently into Deep-Learning 🕸️ and working on my Public Speaking Skills🤓.<b>I am a Parasite feeding on PYTHON</b>


          </p>

        

        </div>
      </div>
    </section>


  </div>
</body>
{% endblock %}


