{% extends "base.html" %}



{% block body %}
<body>
  <div class="tm-page-container mx-auto">
    <header class="tm-header text-center">
      <h1 class="tm-title text-uppercase">Verticard</h1>
      <p class="tm-primary-color"><i>new bootstrap theme</i></p>
    </header>

    <section class="tm-section">
      <nav class="tm-nav">
        <ul>
          <li class="active">
            <a href="/"><span class="tm-nav-deco"></span>Intro</a>
          </li>
          <li>
            <a href="/gallery"><span class="tm-nav-deco"></span>Gallery</a>
          </li>
          <li>
            <a href="/contact"><span class="tm-nav-deco"></span>Contact</a>
          </li>
        </ul>
      </nav>
      <div class="tm-content-container">
        <figure class="mb-0">
          <img src="{{ url_for('static', filename='img/img-1.jpg') }}" alt="Image" class="img-fluid tm-img" />
        </figure>
        <div class="tm-content">
          <h2 class="tm-page-title">Verticard Simple CSS Template</h2>
          <p class="mb-4">
            Curabitur ac est dapibus, ultricies diam non, vestibulum odio. Sed
            ac nunc lacinia, maximus nisi non, efficitur lacus, Donec efficitur
            at dui non molestie.
          </p>
          <p>
            Verticard is provided by TemplateMo site for 100% free download. You can use it absolutely free for any website. Template re-distribution is NOT allowed on any kind of download website. Thank you.
          </p>
        </div>
      </div>
    </section>


  </div>
</body>
{% endblock %}


