{% extends "base.html" %}



{% block body %}


<div class="tm-content-container">
        
        <div class="tm-content">
          
          

          
            <h2 class="tm-page-title">
              I am Into
            </h2>
          <p>
              <div class = "container">
                <div class = "skills">
                    <span class="Name">Deep Learning</span>
                    <div class="percent">
                        <div class="progress" style="width:80%"></div> 
                    </div>
                    <span class="Value">80%</span>
                </div>

                <div class = "skills">
                    <span class="Name">Backend Development</span>
                    <div class="percent">
                        <div class="progress" style="width:70%"></div> 
                    </div>
                    <span class="Value">70%</span>
                </div>

                <div class = "skills">
                    <span class="Name">Frontend Development</span>
                    <div class="percent">
                        <div class="progress" style="width:50%"></div> 
                    </div>
                    <span class="Value">50%</span>
                </div>

                <div class = "skills">
                    <span class="Name">UI/UX Designing</span>
                    <div class="percent">
                        <div class="progress" style="width:50%"></div> 
                    </div>
                    <span class="Value">50%</span>
                </div>

                <div class = "skills">
                    <span class="Name">GUI Applications</span>
                    <div class="percent">
                        <div class="progress" style="width:65%"></div> 
                    </div>
                    <span class="Value">65%</span>
                </div>

                <div class = "skills">
                    <span class="Name">Cloud</span>
                    <div class="percent">
                        <div class="progress" style="width:70%"></div> 
                    </div>
                    <span class="Value">70%</span>
                </div>


              </div>
          </p>
          <br>


          <h2 class="tm-page-title">
              Tools I Feed On..
            </h2>
          <p>
              <div class = "container">
                <div class = "skills">
                    <span class="Name">Python</span>
                    <div class="percent">
                        <div class="progress" style="width:95%"></div> 
                    </div>
                    <span class="Value">95%</span>
                </div>

                <div class = "skills">
                    <span class="Name">PyTorch</span>
                    <div class="percent">
                        <div class="progress" style="width:80%"></div> 
                    </div>
                    <span class="Value">80%</span>
                </div>

                <div class = "skills">
                    <span class="Name">Numpy</span>
                    <div class="percent">
                        <div class="progress" style="width:50%"></div> 
                    </div>
                    <span class="Value">50%</span>
                </div>

                <div class = "skills">
                    <span class="Name">UI/UX Designing</span>
                    <div class="percent">
                        <div class="progress" style="width:50%"></div> 
                    </div>
                    <span class="Value">50%</span>
                </div>

                <div class = "skills">
                    <span class="Name">GUI Applications</span>
                    <div class="percent">
                        <div class="progress" style="width:65%"></div> 
                    </div>
                    <span class="Value">65%</span>
                </div>

                <div class = "skills">
                    <span class="Name">Cloud</span>
                    <div class="percent">
                        <div class="progress" style="width:70%"></div> 
                    </div>
                    <span class="Value">70%</span>
                </div>


              </div>
          </p>
        </div>
      </div>
    </section>


  </div>
</body>


{% endblock %}


